img {
    width: auto;
    max-width: 100%;
}

article.single .article-body p > img
{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

body > div > div > div > div.col-sm-9 > article > header > time {
    line-height:3;
}

article.single .article-body blockquote p {
   line-height: 1.8; 
}

@media (min-width: 900px) {
    #stickwithme {
 	width: 255.5px;
    }
}

@media (max-width: 768px) {
    .affix {
 	position: static;
    }
}

.affix {
    top: 0px;
  }

#stickwithme {
  min-width: 240.5px;
  padding : 10px;
}


#taxon-tags-cats a {
	display: inline-block;
	margin: 3px; 
	 }

.sm article.li {
  margin-bottom: .3rem;
}

.sm article.li .image {
  float: left;
  width: 45px;
  height: 45px;
}

.sm article.li .detail {
  display: table-cell;
  padding: 0;
  padding-left: .5rem;
  height: 35px;
  vertical-align: middle;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #454545;
  background-color: #BDC3C7;
}

p {
  display: block;
  margin: 0 0 30px;
}

article.single .article-body {
  max-width: 750px;
  margin-left: 10px;
  margin-right: 10px;
}


article.single .article-body p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #454545;
  box-sizing: border-box;
}

article.li .summary {
  color: #353535;
  font-size: .9rem;
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 1.45;
}

article.li time {
  color: #FBFBFB;
  background-color: #455A64;
  border-bottom: 2px solid #37474F;
  font-size: 0.8rem;
}


header.site .title {
  font-family: 'Ubuntu', 'Roboto', Helvetica, Arial, sans-serif;
}


#stickwithme, header.site, article.li, article.single {
  background-color: #fbfbfb;
}

footer.site p {
  margin-top: 10px; 
  color: #263238;
}

footer.site {
  margin-top: 32px;
  padding-top: 10px;
  background-color: #F5F5F5;
}


.section.menu ul a {
  border-bottom: 1px solid #BDC3C7;
}

.section.menu ul a:hover {
  border-bottom: 1px solid #263238;
}

aside.site .section, aside.site .section header, aside.site .section header .title {
  margin-bottom: 8px;
  margin-top: 5px;
  box-shadow: none;
}


article.single .article-body pre code {
  background-color: inherit;
}