{{ partial "default_head.html" . }}
<div class="index">
    <div class="row">
        <div class="col-sm-9">
            <div class="articles">
                <div class="row">
                    {{ range $key, $value := .Paginator.Pages }}
                    <div class="col-sm-{{ if lt $key 1 }}12{{ else  if lt $key 3}}6{{ else }}4{{ end }}">
                        {{ .Render "li" }}
                    </div>
                    {{ end }}
                </div>
            </div>

            {{ partial "pagination.html" . }}

        </div>

        <div id="rightsidenav" class="col-sm-3">
            {{ partial "sidebar.html" . }}
        </div>

    </div>
</div>
{{ partial "default_foot.html" . }}
